{% liquid
  assign announcement_text = settings.announcement_bar_text | default: 'FREE SHIPPING ON ORDERS OVER $85 + SIGNUP FOR 10% OFF FIRST ORDER' | strip
%}

<div class="announcement">
  <div class="announcement-text">
    <p class="no-margin center white small [ js-wave-text ]" data-text="{{ announcement_text | escape }}">
      {{ announcement_text | escape }}
    </p>
  </div>
</div>
