<div class="announcement">
  <div class="announcement-text">
    <p class="no-margin center white small [ js-wave-text ]" data-text="FREE SHIPPING ON ORDERS OVER $85 + SIGNUP FOR 10% OFF FIRST ORDER">
      FREE SHIPPING ON ORDERS OVER $85
    </p>
  </div>
</div>
