{% comment %} <div class="announcement">
  <div class="announcement-text">
    <p class="no-margin center white small [ js-wave-text ]" data-text="Free express shipping on orders over $150">
      Free express shipping on orders over $150
    </p>
  </div>
</div> {% endcomment %}
