<div class="banner">
  <div class="banner-image">
    {%- if section.settings.image != blank -%}
      {{ section.settings.image | image_url: width: 1640, height: 760 | image_tag }}
    {%- endif -%}
  </div>

  <div class="banner-text">
    <div class="banner-constraint">
      <h1 class="white">
        <b>
          {{ section.settings.heading }}
        </b>
      </h1>
      {% if section.settings.link_link != blank %}
      <p>
        <a href="{{ section.settings.link_link }}" class="button">{{ section.settings.link_label }}</a>
      </p>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "banner-block",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "default": "<p>Through lifes most <br>vital moments<\/p>",
      "label": "Heading"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "id": "link_label",
      "type": "text",
      "label": "Button label"
    },
    {
      "id": "link_link",
      "type": "url",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Banner"
    }
  ]
}
{% endschema %}
