<div class="banner">
  <div class="banner-image"></div>
  <div class="banner-text">
    <h1 class="white">
      Through lifes most <br>
      vital moments
    </h1>
    <p>
      <a href="#" class="button">Shop now</a>
    </p>
  </div>
</div>
