<div class="element contact-element {% if block.settings.reverse_layout %}contact-element--reversed{%- endif -%}">
  <div class="contact-element__wrap contact-element__wrap--{$Width}">
    <div class="contact-element__wrap__text">
      {{ section.settings.text }}
    </div>

    <div class="contact-element__wrap__form">
      <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
      <div class="elfsight-app-5d5a66fb-e3fc-4407-abe5-704355cb81f6" data-elfsight-app-lazy></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "contact-block",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Lorem ipsum dolor sit amet. Et fuga nemo eum temporibus sint At perspiciatis deserunt ab nulla quia id fugiat voluptatem ad suscipit numquam. Et ducimus aperiam est nihil unde ut corporis maxime ut consequatur magnam ut consequatur voluptatem. Et delectus facere quo aspernatur temporibus ut quia ipsam et possimus eius ut necessitatibus blanditiis et eius voluptatem aut incidunt quia.</p>",
      "label": "Text"
    }
  ],
  "presets": [
    {
      "name": "Contact Block"
    }
  ]
}
{% endschema %}
