<div class="hero">
  <div class="hero__background">
    <img
      src="{{ block.settings.image | image_url: width: 1640 }}"
      alt="{{ block.settings.image.alt | escape }}"
      loading="lazy"
      width="1640"
      height="800"
    >
  </div>

  <div class="hero__wrap">
    <div class="hero__text [ js-inview ]">
      <h3 class="colour--white">
        <b
          >“<br>
          {{ section.settings.heading -}}
        </b>
      </h3>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "hero-block",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Sed ut perspiciatis unde omnis icto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia.",
      "label": "Heading"
    },
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image"
    }
  ]
}
{% endschema %}
