<div class="hero">
  <div class="hero__background">
    <img
      src="{{ 'hero.jpg' | asset_url }}"
      alt="hero item image"
      loading="lazy"
      width="1640"
      height="800"
    >
  </div>

  <div class="hero__wrap">
    <div class="hero__text [ js-inview ]">
      <h3 class="colour--white">
        <b
          >“<br>
          Sed ut perspiciatis unde omnis icto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia.</b
        >
      </h3>
    </div>
  </div>
</div>
