<div class="element image-element {% if section.settings.reverse_layout %}image-element--reversed{%- endif -%} {% if section.settings.smaller_image %}image-element--smaller-image{%- endif -%}">
  <div class="image-element__background" style="background-color: {{ section.settings.background_color }};"></div>
  <div class="image-element__wrap image-element__wrap--{$Width}">
    <div class="image-element__wrap__image">
      {{ section.settings.image | image_url: width: 1200 | image_url: height: 800 | image_tag }}
    </div>

    <div class="image-element__wrap__text" data-color="{{ section.settings.background_color }}">
      {{ section.settings.text }}
    </div>
  </div>

  <div class="image-element-wave3 [ js-wave ]">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 768">
      <path d="M0,32L48,74.7C96,117,192,203,288,245.3C384,288,480,288,576,266.7C672,245,768,203,864,176C960,149,1056,139,1152,149.3C1248,160,1344,192,1392,208L1440,224L1440,320" stroke-width="1" stroke="red" fill-opacity="0"/>
    </svg>
  </div>
  
  <div class="image-element-wave4 [ js-wave ]">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1366 768">
      <path d="M0,32L48,74.7C96,117,192,203,288,245.3C384,288,480,288,576,266.7C672,245,768,203,864,176C960,149,1056,139,1152,149.3C1248,160,1344,192,1392,208L1440,224L1440,320" stroke-width="3" stroke="red" fill-opacity="0"/>
    </svg>
  </div>

</div>

{% schema %}
{
  "name": "text-block",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Lorem ipsum dolor sit amet. Et fuga nemo eum temporibus sint At perspiciatis deserunt ab nulla quia id fugiat voluptatem ad suscipit numquam. Et ducimus aperiam est nihil unde ut corporis maxime ut consequatur magnam ut consequatur voluptatem. Et delectus facere quo aspernatur temporibus ut quia ipsam et possimus eius ut necessitatibus blanditiis et eius voluptatem aut incidunt quia.</p>",
      "label": "Text"
    },
    {
      "type": "checkbox",
      "id": "reverse_layout",
      "label": "Reverse layout",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "smaller_image",
      "label": "Smaller image",
      "default": false
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#E1EDF9"
    }
  ],
  "presets": [
    {
      "name": "Text and Image"
    }
  ]
}
{% endschema %}
