<div class="instagram">
  <div class="instagram__intro">
    <h3 class="no-margin">Follow us</h3>
    <h2 class="no-margin"><b>Stay up to date with our latest news and promotions</b></h2>
  </div>
  <div class="instagram__feed">
    <script src="https://static.elfsight.com/platform/platform.js" async></script>
    <div class="elfsight-app-8d6afa17-0e3e-45b9-9486-1ea08eefb4ed" data-elfsight-app-lazy></div>
  </div>
</div>
