<div class="instagram">
  <div class="instagram__wrap">
    <div class="instagram__intro">
      <div class="instagram__intro__left">
        <h3 class="colour--green">
          <b>Lookin’ good mama.</b>
        </h3>
      </div>
      <div class="instagram__intro__right">
        <h3 class="colour--green">
          <b>follow us</b>
        </h3>
        <a href="#" class="instagram__intro__right__link">
          <img src="{{ 'facebook-green.svg' | asset_url }}" loading="lazy" width="32" height="32">
        </a>
        <a href="#" class="instagram__intro__right__link">
          <img src="{{ 'instagram-green.svg' | asset_url }}" loading="lazy" width="32" height="32">
        </a>
      </div>
    </div>
  </div>
</div>
