<section class="list-item-element [ element ]">
  <div class="list-item-element__wrap">
    <div class="list-item-element__image"></div>
    <div class="list-item-element__content">
      {%- for block in section.blocks -%}
        <div class="list-item-element__item">
          <h4 class="no-margin">
            <b>{{ block.settings.title }}</b>
          </h4>

          <div
            class="list-item-element__content [ js-content ]"
            role="region"
            aria-labelledby="accordion_{{ block.settings.id }}"
          >
            <div class="list-item-element__inner">
              {{ block.settings.copy }}
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "list-item-block",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "id": "image",
      "type": "image_picker",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Sed ut perspiciatis unde",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "default": "<p>Lorem ipsum dolor sit amet. Et fuga nemo eum temporibus sint At perspiciatis deserunt ab nulla quia id fugiat voluptatem ad suscipit numquam. Et ducimus aperiam est nihil unde ut corporis maxime ut consequatur magnam ut consequatur voluptatem. Et delectus facere quo aspernatur temporibus ut quia ipsam et possimus eius ut necessitatibus blanditiis et eius voluptatem aut incidunt quia.</p>",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "name": "List Item",
      "type": "list_item",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "default": "Lorem ipsum dolor sit amet",
          "label": "Title"
        },
        {
          "id": "copy",
          "type": "richtext",
          "default": "<p>Lorem ipsum dolor sit amet. Et fuga nemo eum temporibus sint At perspiciatis deserunt ab nulla quia id fugiat voluptatem ad suscipit numquam.</p>",
          "label": "Copy"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "List Item"
    }
  ]
}
{% endschema %}
