<div class="banner-collection">
  <div class="banner-collection-image">
    {%- if collection.image != blank -%}
      {{ collection.image | image_url: width: 1640, height: 760 | image_tag }}
    {%- endif -%}
  </div>

  <div class="banner-collection-text">
    <h1 class="white">
      <b>
        {{ collection.title }}
      </b>
    </h1>
    <div class="banner-collection-text-description">{{ collection.description }}</div>
  </div>
</div>
