<div class="banner banner--text banner--{{ section.settings.height }}">
  <div class="banner-text">
    <div class="banner-constraint">
      <h1 class="black">
        <b>
          {{ section.settings.heading }}
        </b>
      </h1>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Text Banner Block",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Collection",
      "label": "Heading"
    }
  ],
  "presets": [
    {
      "name": "Text Banner"
    }
  ]
}
{% endschema %}
