.shopify-challenge__button,
.button {
    cursor: pointer;
    background: var(--green);
    color: white;
    padding: 1.25rem 5rem 1.65rem;
    border-radius: 10000rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    border: 0;
    transition: all 111ms ease;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(#000, 0.05);

    &:before {
        @include pseudo;
        @include full;
        background: rgba(white, 0.15);
        transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
        transform: scaleX(0);
        transform-origin: bottom right;
        position: absolute;
        top: 0;
    }

    &:hover {
        &:before {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
    }

    &:active {
        transform: translateY(1px);
    }

    &.wide {
        padding: 1.25rem 8rem 1.65rem;
    }

    &.full {
        display: block;
    }
}

.shopify-challenge__button {
    @include semi;
    margin: 2rem auto !important;
}
