/*------------------------------------------------------------------
Font face
------------------------------------------------------------------*/

@mixin light {
  font-family: 'sofia-pro', sans-serif;
  font-weight: 400;
}

@mixin regular {
  font-family: 'sofia-pro', sans-serif;
  font-weight: 400;
}

@mixin medium {
  font-family: 'sofia-pro', sans-serif;
  font-weight: 500;
}

@mixin semi {
  font-family: 'sofia-pro', sans-serif;
  font-weight: 600;
}

@mixin bold {
  font-family: 'sofia-pro', sans-serif;
  font-weight: 700;
}

@mixin black {
  font-family: 'sofia-pro', sans-serif;
  font-weight: 700;
}

/*------------------------------------------------------------------
Element styles
------------------------------------------------------------------*/

html {
  font-size: 10px;

  .type {
    margin-bottom: 0;
  }
}

body {
  @include light;
  font-size: 1.6rem;
  color: $text;
}

h1,
.h1 {
  font-size: var(--h1-size);
  margin-bottom: 2rem;
  line-height: 1.1;
  letter-spacing: 0.5px;
}

h2,
.h2 {
  font-size: var(--h2-size);
  margin-bottom: 1.5rem;
  letter-spacing: 0.5px;
}

h3,
.h3 {
  font-size: var(--h3-size);
  line-height: 1.3;
  margin-bottom: 1.5rem;
  letter-spacing: 0.5px;
}

h4,
.h4 {
  font-size: var(--h4-size);
  line-height: 1.3;
  margin-bottom: 1.5rem;
  letter-spacing: 0.5px;
}

h5,
.h5 {
  font-size: var(--h5-size);
  line-height: 1.3;
  margin-bottom: 1.5rem;
  letter-spacing: 0.5px;
}

h6,
.h6 {
  font-size: var(--h6-size);
  line-height: 1.3;
  margin-bottom: 1.5rem;
}

p,
li {
  font-size: var(--p-size);
  margin-bottom: 1.5rem;
  line-height: 1.6;
  color: $text-light;
  letter-spacing: $letter-spacing;
}

b,
strong {
  @include bold;
}

i,
em {
  font-style: italic !important;
}

.small {
  font-size: 1.4rem;
}

.smaller {
  font-size: 80% !important;
}

.center,
.text-center {
  text-align: center;
}

.right,
.text-right {
  text-align: right;
}

hr {
  margin: 4rem auto;
  border: 0;
  width: 100%;
  border-bottom: 1px solid $brown-light;
}

.small {
  font-size: 80%;
}

.smaller {
  font-size: 60%;
}

.no-margin {
  margin: 0;
}

.white {
  color: white;
}

/*------------------------------------------------------------------
Link hovers
------------------------------------------------------------------*/

$link: var(--green);

a.link,
a:not([class]) {
  text-decoration: none;
  box-shadow: inset 0 -1px 0 $link, 0 1px 0 $link;
  transition: all 333ms ease;
  overflow: hidden;
  color: var(--green);

  &:hover {
    box-shadow: inset 0 -30px 0 $link, 0 1px 0 $link;
    color: white !important;
  }
}
