/*------------------------------------------------------------------
Font face
------------------------------------------------------------------*/

@mixin light {
  font-family: 'sofia-pro', sans-serif;
  font-weight: 400;
}

@mixin regular {
  font-family: 'sofia-pro', sans-serif;
  font-weight: 400;
}

@mixin medium {
  font-family: 'sofia-pro', sans-serif;
  font-weight: 500;
}

@mixin semi {
  font-family: 'sofia-pro', sans-serif;
  font-weight: 600;
}

@mixin bold {
  font-family: 'sofia-pro', sans-serif;
  font-weight: 700;
}

@mixin black {
  font-family: 'sofia-pro', sans-serif;
  font-weight: 700;
}

/*------------------------------------------------------------------
Element styles
------------------------------------------------------------------*/

html {
  font-size: 10px;

  .type {
    margin-bottom: 0;
  }
}

body {
  @include light;
  font-size: 1.6rem;
  color: $text;
}

h1,
.h1 {
  font-size: 7rem;
  margin-bottom: 1.5rem;
  line-height: 1.1;
  letter-spacing: 0.5px;

  @include media($md, max) {
    font-size: 6rem;
  }
}

h2,
.h2 {
  font-size: 5rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.5px;

  @include media($md, max) {
    font-size: 4rem;
  }

  @include media($sm, max) {
    font-size: 3.6rem;
  }
}

h3,
.h3 {
  font-size: 4rem;
  line-height: 1.3;
  margin-bottom: 1.5rem;
  letter-spacing: 0.5px;

  @include media($md, max) {
    font-size: 3.6rem;
  }
}

h4,
.h4 {
  font-size: 3rem;
  line-height: 1.3;
  margin-bottom: 1.5rem;
  letter-spacing: 0.5px;

  @include media($md, max) {
    font-size: 2.8rem;
  }
}

h5,
.h5 {
  font-size: 2.1rem;
  line-height: 1.3;
  margin-bottom: 1.5rem;
  letter-spacing: 0.5px;
}

h6,
.h6 {
  font-size: 1.8rem;
  line-height: 1.3;
  margin-bottom: 1.5rem;
}

p,
li {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  line-height: 1.6;
  color: $text-light;
  letter-spacing: $letter-spacing;
}

b,
strong {
  @include bold;
}

i,
em {
  font-style: italic !important;
}

.smaller {
  font-size: 80% !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.no-margin {
  margin: 0;
}

hr {
  margin: 4rem auto;
  border: 0;
  width: 100%;
  border-bottom: 1px solid $brown-light;
}

.small {
  font-size: 80%;
}

.smaller {
  font-size: 60%;
}

.downloadItem {
  position: relative;
  transition: all $fast;

  svg {
    margin-left: 0.5rem;
    position: relative;
    top: 2px;

    polygon {
      transition: all $fast;
    }
  }

  &:hover {
    color: $text;

    polygon:first-of-type {
      transform: translateY(2px);
    }
  }
}

.ss-htmleditorfield-file {
  margin: 8rem auto;
}
