.announcement {
    background: var(--green);

    &-text {
        margin: 0 auto;
        max-width: var(--inner-content-width);
        padding: 0.6rem 2rem 0.8rem;

        .letter {
            pointer-events: none;
            display: inline-block;
        }

        .word {
            display: inline-block;
        }
    }
}

.announcement ~ #shopify-section-header {
    .header {
        @include media($md, max) {
            margin-bottom: -8rem !important;
        }
    }
}

.announcement {
    @include media($md, max) {
        p {
            line-height: 1.2 !important;
        }
    }
}
