.benefits {
    background: var(--green);
    position: relative;
    overflow: hidden;

    &-wave2,
    &-wave1 {
        @include svg(1366, 768);
        position: absolute;
        left: 95%;
        top: 0;
        width: 100%;
        transform: translateY(0%) translateX(-50%) rotate(40deg);
        pointer-events: none;
        z-index: 1;

        path {
            stroke: var(--green);
            stroke: #afcacc;
        }
    }

    &-wave2 {
        transform: translateY(-50%) translateX(-50%) rotate(-130deg);
    }

    &__wrap {
        position: relative;
        width: 100%;
        transition: all $slow;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        z-index: 2;
        padding: 6rem 2rem;
        max-width: var(--content-width);
        margin: 0 auto;
    }

    &__left {
        width: 50rem;
        color: white;

        @include media($lg, max) {
            width: 100%;
        }

        p {
            color: #afcacc;
        }
    }

    &__right {
        width: calc(100% - 50rem);
        display: flex;
        flex-wrap: wrap;

        @include media($lg, max) {
            width: 100%;
        }
        @include media($md, max) {
            justify-content: space-between;
        }
    }

    &__item {
        width: 33.333333%;
        padding: 2rem;

        

        @include media($xmd, max) {
           width: 33.333333%;
        }

        @include media($md, max) {
            padding: 2rem 0;
        //     width: calc(50% - 2rem);
        }

        h6 {
            display: block;
            text-align: center;
            color: white;
        }

        &__image {
            width: 100%;
            text-align: center;

            img,
            svg {
                width: 70%;
                max-width: 10rem;
                height: auto;
                margin-bottom: 2rem;
                

                path {
                    fill: white;
                }
            }
        }
    }
}

[data-theme="postpartum"],
[data-theme="postpartum"],
[data-theme="c-section-delivery"],
[data-theme="v-delivery"] {
    .benefits .js-wave:not(.sidecart-background-wave1):not(.sidecart-background-wave2) path {
        stroke: var(--purple-light) !important;
    }

    .benefits {
        background: var(--orange);
    }

    .benefits__left p {
        color: var(--purple-light);
    }
}

[data-theme="breast-care"] {
    .benefits .js-wave:not(.sidecart-background-wave1):not(.sidecart-background-wave2) path {
        stroke: var(--pink-light) !important;
    }

    .benefits {
        background: var(--pink);
    }

    .benefits__left p {
        color: var(--pink-light);
    }
}
