.shopify-challenge__container {
    position: relative;
    padding: 26rem 2rem 8rem;
    background: var(--green-light);
    width: 100%;
    max-width: 100% !important;
}

.shopify-challenge__message {
    color: white;
}
