.collection-grid-waves {
    position: absolute;
    width: 100vw;
    height: 100vh;
    right: 0;
    top: 0;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
}

.collection-grid {
    position: relative;
    background: var(--blue-light);
    padding-bottom: 4rem;
    overflow: hidden;

    .jdgm-widget {
        margin-bottom: 1rem;
    }

    .js-gradient {
        width: 100%;
    }

    .flickity-button {
        background: rgba(white, 0.3);

        &[disabled] {
            opacity: 0.1;
        }
    }

    .next {
        opacity: 0;
        transition: all 333ms;
        transform: translateX(1rem);
    }

    .previous {
        opacity: 0;
        transition: all 333ms;
        transform: translateX(-1rem);
    }

    .flickity-page-dots {
        bottom: 3rem;
        background: rgba(white, 0.3);
        padding: 0.2rem 1rem 0.5rem;
        border-radius: 22rem;
        width: auto;
        margin: 0 auto;
        left: 50%;
        backdrop-filter: blur(0.3rem);
        opacity: 0;
        transition: all 333ms;
        transform: translateX(-50%) translateY(1rem);

        .dot {
            width: 0.8rem;
            height: 0.8rem;
            padding: 0;
            margin: 0 0.1rem;
            transform: scale(0.6);
            transition: all 333ms;

            &.is-selected {
                transform: scale(1);
            }

            &:before {
                display: none;
            }
        }
    }

    &-wave2,
    &-wave1 {
        @include svg(1366, 768);
        position: absolute;
        left: 85%;
        top: 0;
        width: 100%;
        transform: translateY(0%) translateX(-50%) rotate(40deg);
        pointer-events: none;
        z-index: 1;

        path {
            stroke: var(--green);
        }
    }

    &-wave2 {
        transform: translateY(-50%) translateX(-50%) rotate(-130deg);
    }

    &__list {
        position: relative;
        width: 100%;
        transition: all $slow;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        z-index: 2;
        padding: 10rem 0 0;
        max-width: var(--content-width);
        margin: 0 auto;

        &.inview {
            transform: translateX(0%);
        }

        &__title {
            width: 100%;
            padding: 0 2rem;

            h2 {
                line-height: 8vw;
                font-weight: 700;
                font-size: 6rem;
                padding: 4rem 1rem;
                color: transparent;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: var(--green);
                line-height: 1.2;

                @media screen and (max-width: 768px) {
                    font-size: 4rem;
                }
            }
        }

        &__item {
            flex-wrap: wrap;
            position: relative;

            &:hover {
                .next {
                    opacity: 1;
                    transform: none;

                    &[disabled] {
                        opacity: 0.3;
                    }
                }
                .previous {
                    opacity: 1;
                    transform: none;

                    &[disabled] {
                        opacity: 0.3;
                    }
                }
                .flickity-page-dots {
                    opacity: 1;
                    transform: translateX(-50%);
                }
            }

            &--product {
                padding: 2rem;
                width: 33.33333333%;
                max-width: 50rem;

                @include media($lg, max) {
                    padding: 2rem;
                    width: 38%;
                }

                @include media($xmd, max) {
                    width: 50%;
                }

                @include media($md, max) {
                    width: 80%;
                }

                @include media($sm, max) {
                    width: 100%;
                    max-width: none;
                }

                h6,
                p {
                    color: var(--green) !important;
                }
            }

            &__images {
                position: relative;

                .flickity-slider {
                    .collection-grid__list__item__image {
                        display: block;
                    }
                }

                .flickity-button:disabled {
                    pointer-events: all;
                }
            }

            &__image {
                width: 100%;
                margin-bottom: 2rem;
                display: none;

                &[data-index="1"] {
                    display: block;
                }

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }

            &__title {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            &__description {
                width: 100%;
            }

            &__previous {
                position: absolute;
                top: 50%;
                left: 1rem;
                transform: translateY(-50%);
            }
        }
    }

    &__marquee {
        white-space: nowrap;
        display: flex;
        flex-wrap: wrap;
        white-space: nowrap;
        overflow-x: hidden;
        overflow-y: hidden;

        &__animation {
            position: relative;
            left: -50vw;
            margin: 10rem 0;
            backface-visibility: hidden;
            will-change: transform;
            backface-visibility: hidden;
            will-change: transform;
            animation: marquee-move-text 26s linear infinite forwards;
            animation-play-state: running;

            span {
                line-height: 8vw;
                font-weight: 700;
                white-space: nowrap;
                font-size: 7vw;
                padding: 4rem 1rem;
                color: transparent;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: var(--green);
            }
        }
    }
}

[data-page-type="list-collections"] {
    .collection-grid__list__item--product {
        @include media($xmd, max) {
            width: 50% !important;
        }
    }
}

@keyframes marquee-move-text {
    to {
        transform: translateX(-50%);
    }
}
