.footer {
    position: relative;
    background: var(--green);

    &-logo {
        @include media($sm, max) {
            position: absolute;
            bottom: 4rem;
        }
    }

    &-wrap {
        padding: 6rem 4rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        margin: 0 auto;
        z-index: 2;
        max-width: var(--content-width);

        @include media($lg, max) {
            padding: 4rem 2rem;
        }

        @include media($sm, max) {
            padding-bottom: 10rem;
        }
    }

    &-column {
        &-payment {
            margin-right: 2rem;
            margin-top: -2rem;
            display: inline-block;
        }
        
        &-plunket {
            display: inline-block;
            margin-right: 2rem;
            margin-top: -2rem;

            img {
                width:14rem;
                height: auto;
                position: relative;
                top: 2rem;
            }
        }

        h6 {
            margin-bottom: 0.5rem;
            opacity: 0.6;
        }

        &--1 {
            width: 34%;
            padding-right: 3rem;

            @include media($lg, max) {
                margin-top: 3rem;
                width: 100%;
            }

            @include media($lg, max) {
                width: 50%;
                margin-bottom: 4rem;
            }

            @include media($lg, max) {
                width: 100%;
                margin-bottom: 4rem;
            }
        }

        &--2 {
            width: 16.5%;

            @include media($lg, max) {
                width: 33.33333%;
            }

            @include media($lg, max) {
                width: 50%;
                margin-bottom: 4rem;
            }
        }

        &--2-5 {
            width: 16.5%;

            @include media($lg, max) {
                width: 33.33333%;
            }

            @include media($lg, max) {
                width: 50%;
                margin-bottom: 4rem;
            }
        }

        &--3 {
            width: 16.5%;

            @include media($lg, max) {
                width: 33.33333%;
            }

            @include media($lg, max) {
                width: 50%;
                margin-bottom: 4rem;
            }

            @include media($lg, max) {
                order: 6;
            }
        }

        &--4 {
            width: 16.5%;

            @include media($lg, max) {
                width: 33.33333%;
            }

            @include media($lg, max) {
                width: 50%;
                margin-bottom: 4rem;
            }
        }
    }

    &-social {
        &__link {
            margin-right: 1rem;
            display: inline-block;

            img {
                filter: invert(1);
            }
        }
    }

    &-newsletter {
        margin-bottom: 4rem;
        position: relative;
        width: 100%;

        &__field {
            margin-bottom: 1rem;
            position: relative;

            &__input {
                width: 100%;
                position: relative;
                font-size: 1.6rem;
                color: white;
                background: transparent;
                border: 0;
                color: white;
                border-bottom: 1px solid rgba(white, 0.5);
                padding: 1rem 0;
                outline: 0;

                @include placeholder {
                    color: rgba(white, 0.8);
                }
            }

            &__button {
                position: absolute;
                right: 0;
                bottom: 1rem;
                border: 0;
                background: transparent;
                color: white;
                background: var(--green) !important;
            }
        }
    }
}

html body #shopify-section-footer .footer-newsletter__field__button {
    background: var(--green) !important;
    padding: 0;

    &:before {
        display: none;
    }
}
