/*------------------------------------------------------------------
Error page
------------------------------------------------------------------*/

[data-page-type="404"] {
    .footer {
        display: none;
    }
}

.fourOhFour {
    background: var(--blue-light);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 2rem;

    &__wrap {
        text-align: center;

        &__number {
            h1 {
                font-size: 26vw !important;
                color: var(--green) !important;
                font-weight: bold !important;
                text-shadow: 0em 0.16em 0.24em rgba(0, 0, 0, 0.5);
            }
        }

        &__button {
            a {
                font-weight: bold !important;

                color: white;
            }
        }
    }
}
