.icon-element {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 6rem auto;
    padding: 0 2rem;

    &__wrap {
        max-width: var(--inner-content-width);
        margin: 0 auto;

        @include media($md, max) {
            padding: 4rem 2rem;
        }
    }

    &__intro {
        width: 100%;
        margin-bottom: 4rem;

        &__constraint {
            max-width: 50rem;
        }
    }
}
