/*------------------------------------------------------------------
Image and text blocka
------------------------------------------------------------------*/

.image-element {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 2rem 2rem;

  // [data-color="#fefcf8"] {
  //   * {
  //     color: #783e6f;
  //   }
  // }

  &__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: var(--content-width);
    margin: 0 auto;
    position: relative;
    z-index: 3;

    &__image {
      width: 50%;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      text-align: center;

      @include media($md, max) {
        width: 100%;
        transform: none !important;
        order: 1 !important;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    &__text {
      width: 50%;
      padding: 8rem;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-content: center;

      @include media($md, max) {
        width: 100%;
        order: 2;
        padding: 3rem 0 0;
      }

      .button{
        color: white  !important;
      }
    }
  }
}

.image-element--reversed {
  .image-element__wrap__image {
    order: 2;
  }

  .image-element__wrap__text {
    order: 1;
  }
}

.image-element--smaller-image {
  .image-element__wrap__image {
    width: 30%;

    @include media($lg, max) {
      width: 100%;
    }

    img {
      max-width: 40rem;
      margin: 0 auto;
    }
  }

  .image-element__wrap__text {
    width: 70%;

    @include media($lg, max) {
      width: 100%;
    }
  }
}
