.instagram {
    position: relative;
    z-index: 3;
    width: 100%;
    overflow: hidden;
    background: var(--blue-light);

    &__intro {
        justify-content: space-between;
        width: 100%;
        max-width: var(--content-width);
        margin: 0 auto;
        padding: 4rem 2rem;
        color: var(--green);
    }

    .eapps-instagram-feed-posts-slider-prev,
    .eapps-instagram-feed-posts-slider-next {
        display: none !important;
    }
}
