[data-page-type="password"] {

    .instagram,
    .footer,
    .header {
        display: none;

    }
}

.landing {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background: var(--green);
    position: relative;

    &-logo {
        @include media($md, max) {
            text-align: center;
            display: block;

            svg {
                display: inline-block;
                margin: 0 auto 2rem;
                transform: translateX(-.8rem);

            }
        }
    }

    &-left {
        width: calc(100% - 40rem);
        padding: 4rem;
        position: relative;
        overflow: hidden;
        width: 60%;

        @include media($lg, max) {
            width: 100%;
        }

        @include media($md, max) {
            padding: 4rem 2rem;
        }

        h1 {
            position: absolute;
            bottom: 4rem;
            left: 4rem;
            line-height: 8vw;
            font-weight: 700;
            white-space: nowrap;
            font-size: 7vw;
            color: transparent;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: white;
            letter-spacing: -2px;

            @include media(1600px) {
                line-height: 1.1;
                font-size: 11rem;
            }

            @include media($lg, max) {
                position: relative;
                bottom: 0;
                left: 0;

                br {
                    display: none;
                }

            }

            @include media($md, max) {
                font-size: 5rem;
                white-space: normal;
                line-height: 1.3;
                text-align: center;
            }
        }
    }

    &-right {
        width: 40rem;
        background: var(--blue-light);
        padding: 4rem;
        display: flex;
        flex-wrap: wrap;
        width: 40%;

        @include media($lg, max) {
            width: 100%;
        }
    }

    &-constraint {
        width: 100%;
        max-width: 50rem;
    }

    &-intro {
        margin-top: 0;
        margin-bottom: auto;
    }

    &-copy {
        margin-top: auto;
        margin-bottom: 0;
    }

    &-wave2,
    &-wave1 {
        @include svg(1366, 768);
        position: absolute;
        width: 70vw;
        position: absolute;
        bottom: -10%;
        right: -20%;
        transform: translateY(18%) translateX(-0%) rotate(-40deg);
        pointer-events: none;
        z-index: 1;

        path {
            stroke: white;
        }
    }

    &-wave2 {
        transform: translateY(-5%) translateX(-0%) rotate(-220deg);
    }

}