.afterpay-info-icon {
    bottom: -4px !important;
}
.product {
    padding: 0 2rem;
    padding-top: 20rem;
    padding-bottom: 20rem;
    background: var(--blue-light);

    &-wrap {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        max-width: var(--content-width);
    }

    &-details {
        form {
            margin-bottom: 4rem;
        }

        &__category {
            @include bold;
            opacity: 0.5;
            font-size: 1.5rem;

            b {
                letter-spacing: 0.1rem;
            }
        }
    }

    &-slider {
        width: 100%;
        &-item {
            @include aspect(1, 1);
            width: 100%;
            overflow: hidden;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &-gallery {
        width: 50%;
        padding-right: 4rem;
        position: relative;

        @include media($md, max) {
            width: 100%;
            padding-right: 0;
        }

        &-sale {
            position: absolute;
            top: 2rem;
            left: 0;
            padding: 0 2rem 2rem 0;
            z-index: 3;
            line-height: 0.7;
            color: transparent;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: var(--green);
            font-size: 4rem;
            font-weight: bold;
            transform: rotate(-45deg);

            .char {
                padding-bottom: 10px;
            }
        }

        &-lightbox {
            @include svg(40, 27);
            bottom: 1rem;
            right: 5rem;
            z-index: 33;
            cursor: pointer;
            position: absolute;
            width: 5rem;

            svg {
                path {
                    fill: var(--green);
                }
            }
        }

        &-previous {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 50%;
            cursor: none;
            z-index: 4;
            transition: all 0.3s ease-in-out;

            @include media($md, max) {
                display: none;
            }
        }

        &-next {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 50%;
            cursor: none;
            z-index: 4;
            transition: all 0.3s ease-in-out;

            @include media($md, max) {
                display: none;
            }
        }

        &-progresscircle {
            @include svg(1, 1);
            position: absolute;
            top: 1.5rem;
            right: 5rem;
            width: 3rem;
            z-index: 4;

            circle {
                stroke-width: 4px;
                stroke: var(--green);
            }
        }
    }

    &-details {
        width: 50%;
        padding-left: 4rem;
        padding-top: 6rem;
        position: relative;

        &-price {
            position: relative;
        }

        &-old-price {
            position: relative;
            font-size: 70%;

            &:after {
                @include pseudo;
                width: 100%;
                height: 2px;
                background: var(--green);
                top: 55%;
                transform: rotate(-10deg);
            }
        }

        @include media($md, max) {
            width: 100%;
            padding-left: 0;
        }

        li,
        p,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: var(--green);
            max-width: 50rem;
        }
    }

    &-actions {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        align-content: center;
        margin-bottom: 2rem;
        padding: 1rem 0;
        border-top: 1px solid var(--green-light);
        border-bottom: 1px solid var(--green-light);

        .quantity {
            margin-right: 2rem;
        }
    }
}

.quantity {
    display: flex;
    flex-wrap: wrap;
    width: 16rem;

    &-add,
    &-remove {
        width: 5rem;
        color: var(--green);
        font-size: 4rem;
        text-align: center;
        line-height: 3.3rem;
        cursor: pointer;
        user-select: none;
    }
    &-input {
        width: calc(100% - 10rem);

        input {
            @include medium;
            border: 0;
            color: var(--green);
            font-size: 3rem;
            width: 100%;
            text-align: center;
            padding: 0;
            background: transparent;
            outline: 0;
            line-height: 1.4;
        }
    }
}

[data-theme="pregnancy"] {
    .header-logo path {
        fill: var(--green);
    }

    .flickity-button path {
        fill: var(--green);
    }

    .dot {
        background: var(--green);
    }
}

html {
    [data-theme="postpartum"],
    [data-theme="post-partum"],
    [data-theme="c-section-delivery"],
    [data-theme="v-delivery"] {
        background: var(--purple-light);

        .flickity-button path {
            fill: var(--orange);
        }

        .dot {
            background: var(--orange);
        }

        a.link:not(.static),
        a:not([class]) {
            box-shadow:
                inset 0 -1px 0 var(--orange),
                0 1px 0 var(--orange);

            &:hover {
                box-shadow:
                    inset 0 -30px 0 var(--orange),
                    0 1px 0 var(--orange);
                color: white !important;
            }
        }

        .mega .button,
        .mega__wrap__column--bordered:after {
            background: var(--orange) !important;
        }

        .header.nav-up,
        .header.nav-down {
            border-bottom: 1px solid var(--orange);
        }

        .header.nav-down,
        .header.nav-up,
        .mega {
            background: var(--purple-light) !important;
        }

        .tooltip,
        .mega__wrap__column__sublink a {
            color: var(--orange) !important;
        }

        .header-logo path {
            fill: var(--orange);
        }

        .js-gradient-background {
            background: var(--purple-light) !important;
        }

        .announcement,
        .related-products,
        .header-nav.coloured:after,
        .header-actions:after {
            background: var(--orange);
        }

        .animate-white-to-green {
            background-image: linear-gradient(90deg, var(--orange) 50%, white 50%);
        }

        .tooltip,
        .tooltip:before {
            border-color: var(--orange);
        }
        .choices__inner {
            border-color: var(--orange);

            &:hover .choices__inner {
                border-color: var(--orange);
            }
        }
        .collection-grid__list__title h2 {
            -webkit-text-stroke-color: var(--orange);
        }
        .collection-grid__list__item__title h6,
        .collection-grid__list__item__description p,
        .collection-grid__list__title h2,
        .header-actions__cart__count {
            color: var(--orange) !important;
        }

        .product {
            background: var(--purple-light);
        }

        .product-details {
            * {
                color: var(--orange);
            }

            .button {
                background: var(--orange);
                color: var(--purple-light);

                &.busy {
                    color: var(--orange) !important;
                }
            }

            .accordion-element__trigger:before,
            .accordion-element__trigger:after {
                background: var(--orange);
            }
            .accordion-element__item {
                border-color: var(--orange);
            }
        }

        .product-gallery-lightbox {
            path {
                fill: var(--orange) !important;
            }
        }

        .js-wave:not(.sidecart-background-wave1):not(.sidecart-background-wave2) path,
        .previous path,
        .next path {
            stroke: var(--orange) !important;
        }

        .product-gallery-progresscircle {
            circle {
                stroke: var(--orange);
            }
        }

        .product-actions {
            border-color: var(--orange);
        }

        .goverlay {
            background: var(--purple-light);
        }
        .gbtn {
            path {
                fill: var(--orange);
            }
        }
        .product-details-old-price:after,
        li:before {
            background: var(--orange);
        }

        .product-gallery-sale,
        .collection-grid__marquee__animation span {
            -webkit-text-stroke-color: var(--orange);
        }

        .notyf__ripple {
            background: var(--orange) !important;
        }

        .notyf__message a {
            color: var(--orange) !important;
        }
    }
}

html {
    [data-theme="breast-feeding"] {
        background: var(--pink-light);

        .flickity-button path {
            fill: var(--pink);
        }

        .dot {
            background: var(--pink);
        }

        a.link:not(.static),
        a:not([class]) {
            box-shadow:
                inset 0 -1px 0 var(--pink),
                0 1px 0 var(--pink);

            &:hover {
                box-shadow:
                    inset 0 -30px 0 var(--pink),
                    0 1px 0 var(--pink);
                color: white !important;
            }
        }

        .header.nav-up,
        .header.nav-down {
            border-bottom: 1px solid var(--pink);
        }

        .mega .button,
        .mega__wrap__column--bordered:after {
            background: var(--pink) !important;
        }

        .header.nav-down,
        .header.nav-up,
        .mega {
            background: var(--pink-light) !important;
        }

        .tooltip,
        .mega__wrap__column__sublink a {
            color: var(--pink) !important;
        }

        .header-logo path {
            fill: var(--pink);
        }

        .js-gradient-background {
            background: var(--pink-light) !important;
        }

        .announcement,
        .related-products,
        .header-nav.coloured:after,
        .header-actions:after {
            background: var(--pink);
        }

        .animate-white-to-green {
            background-image: linear-gradient(90deg, var(--pink) 50%, white 50%);
        }
        .tooltip,
        .tooltip:before {
            border-color: var(--pink);
        }

        .choices__inner {
            border-color: var(--);

            &:hover .choices__inner {
                border-color: var(--pink);
            }
        }
        .collection-grid__list__title h2 {
            -webkit-text-stroke-color: var(--pink);
        }
        .collection-grid__list__item__title h6,
        .collection-grid__list__item__description p,
        .collection-grid__list__title h2,
        .header-actions__cart__count {
            color: var(--pink) !important;
        }

        .product {
            background: var(--pink-light);
        }

        .product-details {
            * {
                color: var(--pink);
            }

            .button {
                background: var(--pink);
                color: var(--pink-light);

                &.busy {
                    color: var(--pink) !important;
                }
            }

            .accordion-element__trigger:before,
            .accordion-element__trigger:after {
                background: var(--pink);
            }
            .accordion-element__item {
                border-color: var(--pink);
            }
        }

        .product-gallery-lightbox {
            path {
                fill: var(--pink) !important;
            }
        }

        .js-wave:not(.sidecart-background-wave1):not(.sidecart-background-wave2) path,
        .previous path,
        .next path {
            stroke: var(--pink) !important;
        }

        .product-gallery-progresscircle {
            circle {
                stroke: var(--pink);
            }
        }

        .product-actions {
            border-color: var(--pink);
        }

        .goverlay {
            background: var(--pink-light);
        }
        .gbtn {
            path {
                fill: var(--pink);
            }
        }

        .product-details-old-price:after,
        li:before {
            background: var(--pink);
        }

        .product-gallery-sale,
        .collection-grid__marquee__animation span {
            -webkit-text-stroke-color: var(--pink);
        }

        .notyf__ripple {
            background: var(--pink) !important;
        }

        .notyf__message a {
            color: var(--pink) !important;
        }
    }
}

.reviews {
    background: var(--off-white);
    padding: 6rem 0;

    &__wrap {
        max-width: var(--inner-content-width);
        margin: 0 auto;
        padding: 0 2rem;
    }

    * {
        font-family: "sofia-pro", sans-serif !important;
    }

    .form-element {
        textarea,
        input {
            outline: 0;

            &:focus {
                border-color: var(--green) !important;
            }
        }
    }

    .yotpo-nav-wrapper {
        border-color: var(--green) !important;
    }

    .yotpo-nav-wrapper span,
    .y-label {
        color: var(--green) !important;
    }

    .yotpo-submit,
    .write-review-button {
        padding: 1.25rem 5rem 1.65rem !important;
        background: var(--green) !important;
        font-weight: 700 !important;
        font-size: 1.6rem !important;

        &:hover {
            background: var(--green) !important;
        }
    }

    .write-question-review-buttons-container .write-question-review-button:hover {
        background: var(--green) !important;
        border-color: transparent !important;
    }

    .yotpo-label-container {
        display: none !important;
    }
    .write-question-review-button {
        height: auto !important;
    }
    .write-question-review-buttons-container .write-question-review-button .write-question-review-button-icon {
        color: var(--blue-light) !important;
    }
    .write-question-review-button-text {
        color: white !important;
        text-transform: none !important;
        font-size: 1.6rem;
    }
}

[data-tooltip] {
    perspective: 400px;

    &:hover {
        .tooltip {
            transform: translateX(-50%) rotateX(0);
            opacity: 1;
        }
    }

    .tooltip {
        position: absolute;
        color: var(--green);
        border: 1px solid var(--green);
        border-radius: 0.3rem;
        text-align: center;
        transform: translateX(-50%) rotateX(30deg);
        left: 50%;
        top: 100%;
        margin-top: 1rem;
        line-height: 1.1;
        transition: all $fast;
        transform-origin: center top;
        opacity: 0;
        will-change: transform, opacity;

        &__wrap {
            background: white;
            font-size: 1.1rem;
            padding: 0.8rem 0.6rem;
            width: 10rem;
            display: block;
            border-radius: 0.2rem;
            box-shadow:
                0.3px 0.3px 0.8px rgba(0, 0, 0, 0.028),
                1.1px 1.1px 2.7px rgba(0, 0, 0, 0.042),
                5px 5px 12px rgba(0, 0, 0, 0.07);
            white-space: wrap;
        }

        &:before {
            @include pseudo;
            width: 1rem;
            height: 1rem;
            border: 1px solid var(--green);
            top: 0;
            border-radius: 0.2rem;
            left: 50%;
            z-index: -1;
            margin-top: 1px;
            box-shadow:
                0.3px 0.3px 0.8px rgba(0, 0, 0, 0.028),
                1.1px 1.1px 2.7px rgba(0, 0, 0, 0.042),
                5px 5px 12px rgba(0, 0, 0, 0.07);
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
        }

        &:after {
            @include pseudo;
            width: 0.8rem;
            height: 0.8rem;
            top: 0;
            border-radius: 0.1rem;
            left: 50%;
            margin-top: 2px;
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
            background: white;
        }
    }
}
