.steps {
    background: var(--blue-light);
    position: relative;
    overflow: hidden;

    .marquee-element {
        margin-bottom: 4rem;
    }

    .marquee-element__track span b {
        -webkit-text-stroke-color: var(--green);
    }

    &__grid {
        position: relative;
        width: 100%;
        transition: all $slow;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        z-index: 2;
        padding: 6rem 2rem;
        max-width: var(--content-width);
        margin: 0 auto;

        @include media($md, max) {
            padding-top: 0;
        }
    }

    &__item {
        width: 33.333333%;
        padding: 2rem;
        text-align: center;
        transition: all $slow;
        transform: translateY(10%);
        opacity: 0;

        @include media($md, max) {
            padding: 1rem;
        }

        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
                transition-delay: $i * 0.1s;
            }
        }

        &.inview {
            opacity: 1;
            transform: translateY(0%);
        }

        &__image {
            margin-bottom: 2rem;
        }

        &__text {
            color: var(--green);

            @include media($md, max) {
                h5 {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

[data-theme="postpartum"],
[data-theme="postpartum"],
[data-theme="c-section-delivery"],
[data-theme="v-delivery"] {
    .steps {
    background: var(--purple-light);

        .marquee-element__track span b {
            -webkit-text-stroke-color: var(--orange);
        }

        .steps__item__text {
            color: var(--orange);
        }
    }
}

[data-theme="breast-care"] {
    .steps {
        background: var(--pink-light);
        .marquee-element__track span b {
            -webkit-text-stroke-color: var(--pink);
        }

        .steps__item__text {
            color: var(--pink);
        }
    }
}
